* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@media (min-width: 769px) {
  .header__container {
    border: none;
  }
}

.header__container,
.main,
.seccion__servicios {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.main {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 769px) {
  .main {
    min-height: 495px;
    padding: 0 84px 104px 84px;
  }
}

.main__title,
.main__title-second {
  font-weight: bold;
  color: #fafafa;
  font-family: "Montserrat";
}

.main__title {
  margin: 0;
  font-size: 48px;
}

.main__title-second {
  margin: 10px 0 0 0;
  font-size: 32px;
}
/*----------final-main-----------*/

.seccion__presentacion {
  padding: 120px 20px;
  background-color: #2c2c2c;
}
@media (min-width: 769px) {
  .seccion__presentacion {
    display: flex;
    justify-content: center;
  }
}

.seccion__presentacion-img {
  max-width: 380px;
  margin-right: 50px;
}
@media (max-width: 960px) {
  .seccion__presentacion-img {
    display: none;
  }
}

.seccion__presentacion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 960px) {
  .seccion__presentacion-container {
    align-items: end;
  }
}

.seccion__presentacion-title,
.seccion__presentacion-parrafo {
  color: #fafafa;
}

.seccion__presentacion-title {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  font-family: "Montserrat";
}

.seccion__presentacion-parrafo-container {
  margin: 46px 0 0 0;
  max-width: 333px;
}
@media (min-width: 769px) {
  .seccion__presentacion-parrafo-container {
    max-width: 660px;
  }
}

.seccion__presentacion-parrafo {
  margin: 0;
  font-size: 16px;
  text-align: left;
  font-family: "Poppins";
}
@media (min-width: 769px) {
  .seccion__presentacion-parrafo {
    font-size: 22px;
  }
}
/*----------final-seccion-presentacion-----------*/

.seccion__servicios {
  padding: 100px 50px 120px 50px;
}

.seccion__servicios-title {
  text-align: center;
  margin: 0 0 55px 0;
  font-size: 32px;
  font-weight: bold;
  font-family: "Montserrat";
  color: #fafafa;
}
@media (min-width: 769px) {
  .seccion__servicios-title {
    font-size: 46px;
    margin: 0 0 65px 0;
  }
}

.seccion__servicios__cards-content {
  display: grid;
  gap: 100px;
}
@media (min-width: 769px) {
  .seccion__servicios__cards-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 960px) {
  .seccion__servicios__cards-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.seccion__servicios__card {
  margin: 0 auto;
  max-width: 275px;
  max-height: 375px;
  text-align: center;
  font-family: "Poppins";
  color: #fafafa;
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr;
}

.seccion__servicios__card-img {
  max-width: 138px;
  margin: 0 auto;
}

.seccion__servicios__card-cont-title-text {
}

.seccion__servicios__card-title {
  margin: 0 0 7px 0;
  font-size: 24px;
  font-weight: bold;
}

.seccion__servicios__card-text {
  line-height: 24px;
  margin: 0;
  font-size: 17px;
}
