* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.header__container,
.seccion__main {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header__container {
  border: none;
}

.enlace__portfolio{
  display: none;
}

.enlace__inicio {
  display: inherit;
}

.seccion__main {
  padding: 176px 0 126px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 769px) {
  .seccion__main {
    padding: 0 84px 104px 84px;
    justify-content: end;
    min-height: 495px;
  }
}

.seccion__main-title {
  margin: 0;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
  font-family: "Montserrat";
}
/*----------final-seccion-main-----------*/

.seccion__trabajos {
  display: grid;
  gap: 105px;
  padding: 0 40px 120px 40px;
}
@media (min-width: 769px) {
  .seccion__trabajos {
    grid-template-columns: repeat(2, 1fr);
    padding: 120px 40px;
  }
}
@media (min-width: 960px) {
  .seccion__trabajos {
    grid-template-columns: repeat(3, 1fr);
  }
}

.trabajos__card-container {
  max-width: 290px;
  margin: 0 auto;
}

.trabajos__card-img {
  width: 100%;
}

.trabajos__card-container-title-texto {
  margin-top: 15px;
  text-align: center;
  font-family: "Poppins";
}

.trabajos__card-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  color: #dbdbdb;
}

.trabajos__card-texto {
  margin: 0 0 15px 0;
  color: #dbdbdb;
  font-size: 16px;
  line-height: 24px;
}

.trabajos__card-url {
  font-weight: bold;
  color: #fc6f50;
  text-decoration: none;
}
